@charset "utf-8";
@keyframes trans {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  99.99% {
    opacity: 0;
  }
}


.slider {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font: bold 22px/150px arial;
  text-align: center;
  border: 5px solid;
  border-color: grey;
  border-radius: 20px;
}

.u1 {
	background-image: url(../img/pp.jpg);
	background-size:contain;
	background-position: center center;
	animation: trans 24s 0s infinite linear;
}
.u2 {
  background-color: green;
  animation: trans 24s 6s infinite linear;
}
.u3 {
  background-color: blue;
  animation: trans 24s 12s infinite linear;
}
.u4 {
  background-color: orange;
  animation: trans 24s 18s infinite linear;
}


