
.s1 {
	background-image: url(../img/w2.jpg);
}
.s2 {
	background-image: url(../img/w3.jpg);
}


.stellar
{
	width: 100%;
	height: 400px;
	background-position: center center;
	margin: 0;
	display: table;
	background-size: cover;
	background-attatchment: fixed;
}


.stellar h1
{
  position:realtive;
  margin: 0 auto;
  vertical-align: middle; 
  display: table-cell;
  font-weight: 400;
  font-size: 60px;
  color: white;
  text-align:center;
  padding: 0 5%;
}

